@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Hubballi&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #caf0f8;
    text-align: center;
    font-family: 'Hubballi', cursive;
}

h1,
h2 {
    text-align: center;
    padding: 1rem;
    font-family: 'Cinzel Decorative', cursive;
}

.base-page {
    border: 1px solid black;
    padding: .5rem;
    background: #3d5a80;
    color: #caf0f8;
}

button {
    padding: .6rem;
    margin-bottom: 1rem;
}

section {
    width: 400px;
    margin: auto;
}

.frame {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 1rem 0 2rem 0;
}

.slide {
    display: block;
    margin-bottom: 2rem;
}

.hide {
    opacity: 0;
    transition: opacity .5s ease-out;
}

.current {
    transition: opacity .5s ease-out;
}

.abs-pos {
    position: absolute;
}

.caption {
    position: absolute;
    /*make sure it's always visible*/
    z-index: 3;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}

.status {
    background: rgba(0, 0, 0, .4);
    /*transparent black*/
}

/* hide the controls when js is turned off */
.controls {
    display: none;
}

.album-banner {
    background: #3d5a80;
    color: #caf0f8;
}

.album-list {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    position: relative;
    background: #3d5a80;
    list-style: none;
}

/* hide all albums until selected */
.album {
    display: none;
}

/* display the first default album to start */
.selected {
    display: block;
}