@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Hubballi&display=swap');

* {
    box-sizing: border-box;
}


body {
    background: #abc;
    text-align: center;
    font-family: 'Hubballi', cursive;
}

h1,
h2 {
    text-align: center;
    padding: 1rem;
    font-family: 'Cinzel Decorative', cursive;
}

body {
    text-align: center;
}

section {
    width: 400px;
    margin: auto;
}

.frame {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 1rem 0;
}

.slide {
    display: block;
    margin-bottom: 2rem;
}


.hide {
    opacity: 0;
    transition: opacity .5s ease-out;
}

.current {
    transition: opacity .5s ease-out;
}

.abs-pos {
    position: absolute;
}

.caption {
    position: absolute;
    /*make sure it's always visible*/
    z-index: 3;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}

.status {
    background: rgba(0, 0, 0, .4);
    /*transparent black*/
}

.controls {
    display: none;
}

.drop-list:hover {
    color: green;
}

.album-banner .album-list {
    color: green;
    /*opacity=1 */
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    position: relative;
    background: hsla(14, 51%, 75%, .9);
    list-style: none;
}
/*
.album-list {
  //  transition: opacity .1s ease-in;
    opacity: 0; 
    display: none;
    list-style: none;
}
*/

.album {
    display: none;
}
.selected {
    display: block;
}

/* hide album-banner if no js, and set the albums to display in grid with all images showing */
/* with js turned on, reveal the album-banner */