* {
    box-sizing: border-box;
}
body {
    background: #abc;
    text-align:center;
}
h1 {
    text-align: center;
    padding: 1rem;
}
/* temporary banner - remove later
p {
    border: 2px solid #cab;
    background: #def;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
}
*/

body {
    text-align:center;
  }
  
  section {
    width: 400px;
    margin: auto;
  }
  
  .frame {
    position:relative;
    width:400px;
    height:300px;
    margin: 1rem 0;
  }
  
  .slide {
    display:block;
    margin-bottom: 2rem;
  }
  
  
  .hide {
    opacity: 0;
    transition: opacity .5s ease-out;
  }
  
  .current {
    transition: opacity .5s ease-out;
  }
  
  
  .spacer {
    padding: 2rem;
  }

  .abs-pos {
    position: absolute;
  }
  .caption {
    position: absolute;
    z-index: 3; /*make sure it's always visible*/
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
.status {
  background: rgba(0, 0, 0, .4); /*transparent black*/
}
.controls {
    display: none;
}